body
{
 background-color:white;
 background-image : url("images/cinema.jpg");
 background-repeat: repeat-x;
 background-attachment:fixed;
 background-position:  50%;

}
h2
{color:red;}
b
{
color:deeppink;
}
h3
{
text-align:left;
color:white;
}
h3
{border-style:outset;border-color:gainsboro;}
img
{
float:left;
}